html, body {
	height: 100%;
	margin: 0;
}

body {
	background: url("images/tv-background.png");
}

.title {
	font-family: 'Nunito Sans', sans-serif;
	color: #f06eaa;
	font-weight: 700;
	font-size: 36px;

}

#tv-input{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;

}

#add-show {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 10px;
	font-size: 20px;
}

#add-tv {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 10px;
	background-color: #00aeef;
	color: white;
	border-radius: 10px;
}

#tv-form{
	color: #f06eaa;
	float: left;
	margin-top: 50px;
	float: right;
	margin-right: 15px;
}

.show {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 10px;
	background-color: #00aeef;
	color: white;
	border-radius: 10px;
	float: left;
}

#tv-view {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 10px;
	font-size: 20px;
}